Package: com.hexplo.it.memscan
Name: memscan
Depends:
Version: 1.2.2
Architecture: iphoneos-arm
Description: A memory scanning tool which uses mach_vm* to either dump memory or look for a specific sequence of bytes.
Maintainer: Hexploitable
Author: Hexploitable
Section: System
Tag: role::hacker
